<div class="services-index">
  <% if @service && @service.errors.any? %>
    <ul class="errors">
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <% (@services + [Service.new]).each do |service| %>
    <div class="thing-tile">
      <% if service.new_record? %>
        New Service
      <% end %>
      <%= form_for service do |f| %>
        <header>
          <em><%= service.id %></em>
          <%= f.text_field :name, placeholder: "Service Name" %>
        </header>
        <div class="price">
          <%= f.label :price %>
          <%= f.text_field :price %>
        </div>
        <div class="early-term">
          <%= f.label :early_term_fee %>
          $<%= f.number_field :early_term_fee, step: "any" %>
        </div>
        <div>
          <%= f.text_area :description, placeholder: "Service Description" %>
        </div>
        <div class="submit">
          <%= f.submit %>
        </div>
      <% end %>
      <% if service.persisted? %>
        <% if service.disabled? %>
          <%= button_to "Enable Service", service_enable_path(service) %>
        <% else %>
          <%= button_to "Disable Service", service_disable_path(service) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
