<p>Summary of account, services, packages, etc here.</p>

<p>Your subscriptions:</p>
<% @user.subscriptions.each do |sub| %>
  <% subscribable = sub.subscribable %>
  <div class="bill">
    <div class="thing-tile">
      <header><%= subscribable.name %></header>
      <em><%= subscribable.price %></em>
      <footer>Terminates On: <%= sub.pretty_term_date %> (fee: <%= number_to_currency sub.early_term_fee %>) </footer>
    </div>
    <%= button_to "Unsubscribe", subscription_path(sub), method: :delete %>
  </div>
<% end %>

<% bills = @user.bills.unpaid.order(created_at: :desc) %>
<% if bills.any? %>
  <h2>Your bills (total debt: <%= number_to_currency bills.map(&:cost).inject(0, &:+) %>)</h2>
<% end %>
<% bills.each do |bill| %>
  <div class="bill">
    <p>Bill, generated on <%= bill.pretty_date %>: </p>
    <div class="bill">
      <table>
        <tr>
          <td>Service Name</td>
          <td>Price</td>
        </tr>

        <% odd = false %>
        <% bill.toplevel_bill_items.each do |bi| %>
          <% odd = !odd %>
          <tr class="<%= odd ? "odd" : "even" %>">
            <td><%= bi.name %></td>
            <td><%= number_to_currency bi.price %></td>
          </tr>

          <% bi.service_bill_items.each do |bsi| %>
            <% odd = !odd %>
            <tr class="<%= odd ? "odd" : "even" %>">
              <td>&rarr;<em><%= bsi.name %></em></td>
              <td>---</td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <p>Total cost: <em><%= number_to_currency bill.cost %></em></p>
      <%= button_to "Pay Bill", bill_pay_path(bill) %>
    </div>
  </div>
<% end %>
