Welcome, customer service rep <%= user.name %><br>

Here's a list of customers:
<% User.customers.each do |user| %>
  <div class="user">
    <header>
      <div>Name: <%= user.name %>, <b><%= user.email %></b></div>
      <div>Account Type: <b><%= user.account_type_string %></b></div>
    </header>
    <%= link_to "Manage User", user_path(user) %>
  </div>
<% end %>
