<div class="dashboard-header">
  <div class="logo">
    <h4>PT&amp;T &copy; 2015</h4>
  </div>
  <div class="welcome">
    <span class="name">
      Welcome, <em><%= user.name %></em>
      (<%= user.account_type_string %>)
    </span>
    <%= link_to "Sign Out", destroy_user_session_path %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
</div>
