<nav class="dashboard-sidebar">
  <ul>
    <% if @user.marketing? %>
      <li><%= link_to "Overview", root_authed_path %></li>
      <li><%= link_to "Manage Packages", packages_path %></li>
      <li><%= link_to "Manage Services", services_path %></li>
      <li><%= link_to "Manage Subscription Rules", subscription_rules_path %></li>
    <% elsif @user.customer_service? %>
      <li><%= link_to "Overview", root_authed_path %></li>
    <% else %>
      <li><%= link_to "Overview", root_authed_path %></li>
      <li><%= link_to "Manage My Account", edit_user_registration_path %></li>
      <li><%= link_to "Manage my Subscriptions", subscriptions_path %></li>
    <% end %>
  </ul>
</nav>
