<% if @user.marketing? %>
  <%= render "marketing_overview", user: @user %>
<% elsif @user.customer_service? %>
  <%= render "customer_service_overview", user: @user %>
<% else %>
  <%= render "customer_overview", user: @user %>
<% end %>
