<div class="registration-new auth-form-page">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :account_type %><br />
      <%= f.radio_button :account_type,                      :retail %>
      <%= f.label        :account_type, "Retail",     value: :retail %><br />
      <%= f.radio_button :account_type,                      :commercial %>
      <%= f.label        :account_type, "Commercial", value: :commercial %>
    </div>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
      <span class="dynmessage strength"></span>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <span class="dynmessage confirmation"></span>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>

    <%= render "devise/shared/links" %>
  <% end %>
</div>
