<h2>Subscription Rules: </h2>
<% @srules.each do |rule| %>
  <%= form_for rule do |f| %>
    <%= f.label :rule_string %><br>
    <%= f.text_area :rule_string, rows: rule.rule_string.split("\n").length, cols: 50 %><br>
    <%= f.submit "Save" %>
    <%= f.submit "Destroy" %>
  <% end %>
<% end %>

<h3>New Rule: </h3>
<% if @srule %>
  <div class="errors"><%= @srule.errors.full_messages.join(", ") %></div>
<% end %>
<%= form_for (@srule || SubscriptionRule.new) do |f| %>
  <%= f.label :rule_string %><br>
  <%= f.text_area :rule_string, rows: 10, cols: 50 %><br>
  <%= f.submit "Save" %>
<% end %>
