<header>Managing user: <%= @managed_user.name %></header>
<ul>
  <li>Email: <%= @managed_user.email %></li>
  <li>Address: <%= @managed_user.address %></li>
</ul>

<hr>
Subscriptions:
<ul>
  <% @managed_user.subscriptions.each do |sub| %>
    <li>
      <%= render sub %>
      <% pkg = sub.subscribable.is_a?(Package) && sub.subscribable %>
      <% if pkg && pkg.specific_to != @managed_user %>
        <%= button_to "Customize for User", subscription_clone_package_path(sub, @managed_user), method: :post %>
      <% end %>
      <%= button_to "Unsubscribe User", subscription_path(sub), method: :delete %>
    </li>
  <% end %>
</ul>

<hr>
Sign a user up for:
<%= form_for(Subscription.new, url: create_for_subscriptions_path(user_id: @managed_user)) do |f| %>
  <% subscribables = (Service.all + Package.all) %>
  <%= f.select :subscribable_str, options_for_select(subscribables.map {|s| ["#{s.class}: #{s.name} ($#{s.price})", "#{s.class}_#{s.id}"]}) %>
  <%= f.submit "Create Service Subscription" %>
<% end %>

<hr>
<%= button_to "Generate Bill", user_generate_bill_path(@managed_user) %>
Last bill generated on: <%= @managed_user.bills.last.try(:pretty_date) || "Never" %><br>

<% if @managed_user.custom_packages.any? %>
  <hr>
  Manage custom packages: <br>
<% end %>
<% @managed_user.custom_packages.each do |package| %>
  <div class="thing-tile">
    <%= render "packages/edit_form", {
      package: package,
      extra: {redirect_to: user_path(@managed_user)}
    } %>
  </div>
<% end %>
