<% extra ||= extra || {} %>
<% form_url = package.new_record? ? packages_path : package_path(package, extra) %>
<%= form_for package, url: form_url do |f| %>
  <header>
    <em><%= package.id %></em>
    <%= f.text_field :name, placeholder: "Package Name" %>
    <% if package.specific_to %>
      (Custom)
    <% end %>
  </header>
  <div class="price">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="early-term">
    <%= f.label :early_term_fee %>
    <%= f.text_field :early_term_fee %>
  </div>
  <div>
    <% package.service_ids.each do |sid| %>
      <%= fields_for "package[service_ids][#{sid.id}]" do |ff| %>
        <%= ff.check_box :inc, checked: sid.inc %>
        <% service = Service.find(sid.id) %>
        <%= ff.label :inc, "#{service.name} ($#{service.price})" %><br />
      <% end %>
    <% end %>
  </div>
  <% unless package.new_record? %>
    <div class="total_price">
      Services Cumulative Price: $<%= package.total_items_price %>
    </div>
    <div class="package_price">
      Package Price: $<%= package.price %>
    </div>
    <div class="savings <%= package.savings <= 0 ? "error" : "" %>">
      <b><%= (package.savings * 100).to_i %>% Savings</b>
    </div>
  <% end %>
  <div class="submit">
    <%= f.submit %>
  </div>
<% end %>
