<div class="packages-index">
  <% if @package && @package.errors.any? %>
    <ul class="errors">
      <% @package.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <% (@packages + [Package.new]).each do |package| %>
    <div class="thing-tile">
      <% if package.new_record? %>
        New package
      <% end %>
      <%= render "edit_form", package: package %>
    </div>
  <% end %>
</div>
