<% package = subscription.subscribable %>
<% package = package.is_a?(Package) && package %>

<header>
  <%= subscription.subscribable.name %>
  <% if package && package.try(&:specific_to) %>(Custom)<% end %>
</header>

<% if package.is_a? Package %>
  <div>Included Services:</div>
  <ul class="packaged-services">
    <% package.services.each do |service| %>
    <li><%= service.name %></li>
    <% end %>
  </ul>
<% end %>
<div class="price">
  Price: $<%= subscription.subscribable.price %>/month
</div>
