<% if @subscription && @subscription.errors.any? %>
  <ul class="errors">
    <% @subscription.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<h3>Services to Subscribe To</h3>
<% @services.each do |service| %>
  <div class="thing-tile">
    <%= form_for(Subscription.new(subscribable: service)) do |f| %>
      <%= f.hidden_field :subscribable_str %>
      <header>
        <%= service.name %>
      </header>
      <div class="price"><%= service.price%> per month</div>
      <div class="term_length">
        <%= f.select :term_length, options_for_select([
          ["1 Week", "1week"],
          ["2 Weeks", "2weeks"],
          ["1 Month", "1month"],
          ["3 Months", "3months"]
        ]) %>
      </div>
      <footer><%= f.submit "Subscribe" %></footer>
    <% end %>
  </div>
<% end %>

<h3>Packages to Subscribe To</h3>
<% @packages.each do |package| %>
  <div class="thing-tile">
    <%= form_for(Subscription.new(subscribable: package)) do |f| %>
      <%= f.hidden_field :subscribable_str %>
      <header>
        <%= package.name %>
      </header>
      <div class="price"><%= package.price%> per month</div>
      <div class="term_length">
        <%= f.select :term_length, options_for_select([
          ["1 Week", "1week"],
          ["2 Weeks", "2weeks"],
          ["1 Month", "1month"],
          ["3 Months", "3months"]
        ]) %>
      </div>
      <footer><%= f.submit "Subscribe" %></footer>
    <% end %>
  </div>
<% end %>

<% if @services.none? && @packages.none? %>
  <h4>There are no more packages or services to subscribe to!</h4>
<% end %>
