body {
  background-color: #E7F5FF;
}

.new_subscription_rule, .edit_subscription_rule {
  textarea {
    border:1px solid #999999;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  }
}
