.auth-form-page {
  width: 20em;
  margin: 0 auto;

  text-align: center;

  form {
    background-color: rgba(black, 0.2);
    border-radius: 4px;
    padding: 0.5em;

    a, a:visited {
      color: rgba(black, 0.9);
      text-decoration: underline;
    }
    a:hover {
      color: rgba(black, 0.5);
    }
  }

  .field {
    text-align: left;

    input[type=email],
    input[type=password],
    input[type=text]
    {
      display: block;
      width: 100%;
    }
  }

  .field {
    margin-bottom: 0.25em;
  }

  input[type=submit] {
    font-size: 1.25em;
  }

  .dynmessage {
    font-style: italic;
  }

  .weak {
    color: rgb(219, 0, 0);
  }
  .medium {
    color: rgb(248, 249, 117);
  }
  .strong {
    color: rgb(51, 164, 0);
  }
}
