.dashboard-header {
  .logo {
    float: left;
  }
  .welcome {
    float: right;
  }

  overflow: hidden;
  background-color: white;
  padding: 0.5em;
}

.dashboard-pane {
  .dashboard-sidebar {
    display: block;
    float: left;
    height: 100%;

    ul, li {
      list-style: none;
    }
    ul {
      margin: 0;
      margin-left: 1em;
      padding: 0;
    }

    padding-right: 1em;
  }
  .rightside {
    display: inline-block;
    overflow: hidden;
  }
}

.bill {
  background-color: rgba(black, 0.1);

  table {
    width: 100%;
    border-collapse: collapse;
    tr {
      border: 1px solid black;
    }
    th {
      font-weight: bold;
    }

    .odd {
      background-color: rgba(black, 0.1);
    }
  }
}
.bill tr {
}
