body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  margin: 0;
}

.flashes {
  text-align: center;

  & > div {
    padding: 1em;
  }
  .notice {
    background-color: rgb(170, 233, 136);
  }
  .alert {
    background-color: rgb(240, 113, 113);
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
