<%= render "dashboard/header", user: @user %>
<div class="dashboard-overview dashboard-pane">
  <%= render "dashboard/sidebar", user: @user %>

  <div class="rightside">
    <%= yield %>
  </div>
</div>
<% parent_layout "application" %>
